$font:"IRANSans";
$primary-color1: #f9f8f8;
$primary-color2: #ffb606;
$price-color:#f24c0a;
$white-color: #fff;
$dark-color: #333;
$sub-color:#999;
$primary-color3: #eee;
$link-color:#ffffff66;
$black-color:#000;
