.footer{
    @include flexStyle(center){
        width: 100%;
        height: 463px;
        background-color:$dark-color;
    }
}
.main-footer{
    @include flexStyle(space-between){
    padding: 25px;
    border-bottom: 0.5px solid $dark-color;
    }
}
.top-footer{
    width: 100%;
}
.footer__col2 {
    display: flex;
    flex-direction: column;
}
.footer-title{
    color: $white-color;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 50px;
}
.footer__col2>a{
    color: $sub-color;
    line-height: 40px;
    font-size: 15px;
}
.footer-logo{
    width: 200px;
    height: 47px;
    margin-bottom: 40px;

}
.footer_lists-item{
margin-bottom: 20px;

}
.footer-icon{
    color: $primary-color2;
}
.footer_lists-item>a{
  color: $sub-color;
}
.footer-icons>a{
margin-right: 8px;
}
.main-footer2{
   @include flexStyle(space-between){
    margin-top: 50px;
   }
}
.footer-bottom__list{
    @include flexStyle(space-between){
        width: 20%;
    }
}
.main-footer2>p{
    color: $sub-color;
}
.footer-bottom__links{
    color: $sub-color;
}
/* parallax footer */
.parallax{
    background: linear-gradient(rgba(231, 199, 19, 0.6), rgba(198, 156, 4, 0.6)), url(../images/bg-footer.jpg) no-repeat center center;
    height:475px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;    
}
.parallax-main{
    @include flexStyle(space-between){
        flex-direction: column;
    }
}
.parallax-title{
    font-size: 36px;
    font-weight: 800;
    margin-top: 90px;
    margin-bottom: 30px;
}
.parallax-parag{
    font-size: 18px;
    font-weight: 400;
    color: $dark-color;
}
.parallax-btn{
    width: 187px;
    height: 50px;
    background: inherit;
    border: 2px solid $black-color;
    margin-top: 90px;
    align-items: center;
    padding: 10px;
    font-weight: 700;
}

