@import "./variables";
@import "./fonts";
@import "./defaults";
@import "./top-bar";
@import './navbar.css';
@import "./minixes";

/* Start landing Styles */

.landing {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/home-coursera-new.webp) no-repeat center center;
    
    height: 520px;
    background-attachment: fixed;
    text-align: center;
    padding: 9rem 0;
    color: var(#fff);
  }
.landing__title{
    font-size: 3.4rem;
    font-weight:bold;
    color: #fff;
}  
.landing__subtitle{
    font-size: 1.8rem;
    margin-top: 0.3rem;
    color: #fff;

}
.landing__searchbar{
    display: flex;
    flex-direction: column;
    width: 700px;
    position:relative;
    margin: 3.5rem auto;
    background: none;
    border:1px solid #fff;
    border-radius: 3px;
    direction: ltr;
}
.landing__searchbar-input{
    width: 100%;
    padding: 1.6rem;
    border: none;
    border-radius: 1rem;
    background: none;
    color: #fff;
    
}
.landing__searchbar-btn{
    border: none;
    background-color: #fff;
    position: absolute;
    right: 0rem;
    width: 6rem;
    top: 0rem;
    bottom: 0rem;
    .landing__searchbar-icon{
        color: #587a77;
        font-size: large;
    }
}

/* Finish landing Styles */

