/* Start Navbar Styles */
.main-header{
  width: 100%;
  padding: 10px 5px;

}

.main-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 45px;
}

.main-header__left {
  .main-header__logo{
    width:155px;
  }
}
.main-header__right{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  .main-header__menu {
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    li{
      margin-left: 30px;
      position: relative;
      a{
        color: #46403b;
        font-size: 14px;
        font-weight: 900;
      }
    }
  }
}

// .main-header__link-icon {
//   margin-right: 1rem;
// }

// /* Start DropDown Styles */

// .main-header__dropdown {
//   position: absolute;
//   top: 5.5rem;
//   left: 0;
//   right: 0;
//   background-color: var(--white-color);
//   transition: all 200ms ease-in-out;
//   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
//   border-radius: 0.5rem;
//   width: 24rem;
//   z-index: 1;
//   padding: 1rem 0;
//   border-bottom: 3px solid var(--primary-color);
//   opacity: 0;
//   visibility: hidden;
// }

// .main-header__item:hover .main-header__dropdown {
//   opacity: 1;
//   visibility: visible;
//   top: 6.5rem;
// }

// .main-header__dropdown-link {
//   display: block;
//   padding: 0.6rem 2rem;
//   font-size: 1.4rem;
//   color: var(--dark-color);
//   transition: all 400ms ease;
// }

// .main-header__dropdown-link:hover {
//   color: #1e83f0;
// }

// /* Finish DropDown Styles */

// .main-header__right {
//   display: flex;
//   align-items: center;
// }

// .main-header__search-btn {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 4.3rem;
//   height: 4.3rem;
//   border-radius: 0.5rem;
//   background-color: var(--primary-color);
// }

// .main-header__search-icon {
//   color: var(--white-color);
//   font-size: 2.2rem;
// }

// .main-header__cart-btn {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 4.3rem;
//   height: 4.3rem;
//   border-radius: 0.5rem;
//   margin-right: 1rem;
//   background-color: #f0f2f7;
// }

// .main-header__cart-btn:hover {
//   color: #1e83f0;
// }

// .main-header__cart-icon {
//   color: var(--dark-color);
//   font-size: 2.2rem;
//   transition: all 400ms ease;
// }

// .main-header__profile {
//   display: flex;
//   align-items: center;
//   padding: 0 1.5rem;
//   border: 2px solid var(--primary-color);
//   border-radius: 0.5rem;
//   margin-right: 1rem;
//   transition: all 400ms ease;
//   color: var(--primary-color);
//   height: 4.3rem;
// }

// .main-header__profile:hover {
//   background-color: var(--primary-color);
//   color: var(--white-color);
// }

// /* Finish Navbar Styles */
